.App{
    text-align: center;
    color:rgb(0, 0, 0);
    background-color:white;
    margin-top:40vh;
    width:70vw;
    margin-left:auto;
    margin-right:auto;
    border-right: 1px solid #032c47;
    border-bottom: 1px solid #032c47;
    border-radius: 23px;
}